USE [bdgimnasio]
GO
DROP DATABASE [bdgimnasio]
GO
/****** Object:  Database [bdgimnasio]    Script Date: 16/03/2026 11:11:46 ******/
CREATE DATABASE [bdgimnasio]
GO
USE [bdgimnasio]
GO
/****** Object:  Table [dbo].[actividades]    Script Date: 16/03/2026 11:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[actividades](
	[idactividad] [int] NOT NULL,
	[nom_actividad] [varchar](20) NOT NULL,
	[horas_semanales] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[idactividad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[paises]    Script Date: 16/03/2026 11:11:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[paises](
	[idpais] [int] NOT NULL,
	[nom_pais] [nvarchar](50) NOT NULL,
PRIMARY KEY ([idpais]))
GO

/****** Object:  Table [dbo].[socios]    Script Date: 16/03/2026 11:11:46 ******/
CREATE TABLE [dbo].[socios](
	[idsocio] [int] NOT NULL,
	[nombre] [varchar](20) NOT NULL,
	[apellido] [varchar](20) NOT NULL,
	[telefono] [varchar](11) NOT NULL,
	[email] [varchar](20) NOT NULL,
	[idpais] [int] NULL,
PRIMARY KEY ([idsocio]))
GO
/****** Object:  Table [dbo].[socios_actividades]    Script Date: 16/03/2026 11:11:46 ******/
CREATE TABLE [dbo].[socios_actividades](
	[idsocio] [int] NOT NULL,
	[idactividad] [int] NOT NULL,
PRIMARY KEY ([idsocio],[idactividad]))
GO

ALTER TABLE [dbo].[socios]  WITH CHECK ADD  CONSTRAINT [FK_PAISES] FOREIGN KEY([idpais])
REFERENCES [dbo].[paises] ([idpais])
GO
ALTER TABLE [dbo].[socios] CHECK CONSTRAINT [FK_PAISES]
GO
ALTER TABLE [dbo].[socios_actividades]  WITH CHECK ADD  CONSTRAINT [FK_ACTIVIDAD] FOREIGN KEY([idactividad])
REFERENCES [dbo].[actividades] ([idactividad])
GO
ALTER TABLE [dbo].[socios_actividades] CHECK CONSTRAINT [FK_ACTIVIDAD]
GO
ALTER TABLE [dbo].[socios_actividades]  WITH CHECK ADD  CONSTRAINT [FK_SOCIO] FOREIGN KEY([idsocio])
REFERENCES [dbo].[socios] ([idsocio])
GO
ALTER TABLE [dbo].[socios_actividades] CHECK CONSTRAINT [FK_SOCIO]
GO
USE [master]
GO
